@model Projeto.TCC.Painel.Models.Resposta

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Resposta</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Atributo.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atributo.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pergunta.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pergunta.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para Respostas", "Index", new { perguntaId = Model.PerguntaId })
</p>
