@model Projeto.TCC.Painel.Models.Candidato

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Candidato</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Questionario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Questionario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

       

        

        <dt>
            @Html.DisplayNameFor(model => model.Curriculum)
        </dt>

        <dd>
            
            <a href="@Model.Curriculum">@Model.Curriculum</a>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Voltar para Candidatos", "Index", null, new { @class = "btn btn-default" })
</p>
