<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - STPC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery.anythingslider.min.js"></script>
    <link rel="stylesheet" href="~/Content/anythingslider.css">
    <link rel="stylesheet" href="~/Content/circle.css">

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" style="background-image: url(/img/header.jpg); background-repeat: repeat; background-position: center">
        <div class="container">

            @*<div class="col-md-4" style="text-align: left">
                    <a class="navbar-brand navbar-left" href="#">Brand</a>
                </div>*@
            <div class="col-md-4" style="text-align: left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="/img/logo.png" width="100">
                    </a>
                </div>
            </div>
            <div class="col-md-4" style="text-align: center; /*height: 96px; line-height: 80px;*/">

                <p class="navbar-text" style="float: none; font-size: 20px;">@Session["Questionario"].ToString()</p>
            </div>
            <div class="col-md-4" style="text-align: right; /*height: 96px; line-height: 80px;*/">
                <p class="navbar-text navbar-right" style="font-size: 20px;">@Session["Nome"].ToString()</p>
            </div>
        </div>

    </nav>
    <div class="container body-content questionario">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - STPC</p>
        </footer>
    </div>
</body>
</html>
