@model IEnumerable<Projeto.TCC.Painel.Models.Resultado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">Gerenciar Resultados</div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Questionario.Nome)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Questionario.Nome)
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>