@model Projeto.TCC.Painel.Models.PesoQuestionario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PesoQuestionario</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Atributos.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atributos.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Questionarios.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Questionarios.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
