@model IEnumerable<Projeto.TCC.Painel.Models.PesoQuestionario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}



<p>
    @Html.ActionLink("Novo Peso", "Create", new { questionarioId = ViewBag.QuestionarioId }, new { @class = "btn btn-default" })
</p>

<div class="panel panel-default">
    <div class="panel-heading">Gerenciar Pesos: @ViewBag.Questionario </div>
    <table class="table table-hover table-bordered table-condensed">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Perfils.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Questionarios.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Peso)
                </th>
                <th></th>
            </tr>

        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Perfils.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Questionarios.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Peso)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>