@model IEnumerable<Projeto.TCC.Painel.Models.PesoQuestionario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo Peso", "Create", new { questionarioId = ViewBag.QuestionarioId })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Atributos.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Questionarios.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Atributos.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Questionarios.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
