@model Projeto.TCC.Painel.Models.Relatorio

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Você tem certeza que quer deletar?</h3>
<div>
    <h4>Relatorio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Perfil.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfil.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>

        <dd id="Descricao">

        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para Relatórios", "Index", new { PerfilId = Model.PerfilId }, new { @class = "btn btn-default" })
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        var valor = "@ViewBag.DescricaoHTML";
        $("#Descricao").html(convert(valor));
    });

    var convert = function (convert) {
        return $("<span />", { html: convert }).text();
    }

</script>