@model IEnumerable<Projeto.TCC.Painel.Models.Relatorio>

@{
    ViewBag.Title = "Index";
}


@if (!String.IsNullOrWhiteSpace(@ViewBag.Mensagem))
{ <div class="alert alert-warning" role="alert">@ViewBag.Mensagem</div> }

<p>
    @Html.ActionLink("Novo Relatório", "Create", new { PerfilId = ViewBag.PerfilId }, new { @class = "btn btn-default" })
</p>   


<div class="panel panel-default">
    <div class="panel-heading">Gerenciar Relatórios: @ViewBag.Perfil</div>
    <table class="table table-hover">
        <tr>
            <th>
                Perfil
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>            
            <th>
                Ações
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Perfil.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>               
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

    <p>
        <a class="btn btn-default" href="@Url.Action("Index", "Perfils")">Voltar para Perfils</a>
    </p>
